
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99vh;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0;
    border: 1px solid black;
}
#board {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */

}

.square {
    border: 1px solid black;
    color: black;
    display:flex;
    align-items: center;
    justify-content: center;
}

.pieceImg {
    background-repeat: no-repeat;
    background-size: contain;
    width: 75%;
    height: 75%;
}


.white {
    background-color: white;
}
.gray {
    background-color: gray;
}

.clickedSquare {
    background-color: rgb(44, 117, 186);
}

.possibleDestination {
    background-color: rgb(87, 134, 178);
}


@media screen and (orientation: landscape){
    
    .square {

        width: calc(90vh/8);
        height: calc(90vh/8);

    }


}
@media screen and (orientation: portrait){
    
    .square {

        width: calc(90vw/8);
        height: calc(90vw/8);

    }


}